# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/Obfuscator/FileContentIndex/7bebcf0e-1bec-45c4-a718-a3be90fa6375.vsidx
.vs/Obfuscator/FileContentIndex/read.lock
.vs/Obfuscator/v17/Browse.VC.db
.vs/Obfuscator/v17/Browse.VC.db-shm
.vs/Obfuscator/v17/Browse.VC.db-wal
.vs/Obfuscator/v17/Browse.VC.opendb
.vs/Obfuscator/v17/ipch/AutoPCH/67b1b418d0b012ff/ENTRY.ipch
bin/intermediates/Obfuscator.log
bin/intermediates/Obfuscator.tlog/CL.command.1.tlog
bin/intermediates/Obfuscator.tlog/CL.read.1.tlog
bin/intermediates/Obfuscator.tlog/CL.write.1.tlog
bin/intermediates/Obfuscator.tlog/link.command.1.tlog
bin/intermediates/Obfuscator.tlog/link.read.1.tlog
bin/intermediates/Obfuscator.tlog/link.write.1.tlog
bin/intermediates/Obfuscator.tlog/Obfuscator.lastbuildstate
bin/intermediates/Obfuscator_x64.exe.recipe
bin/intermediates/vc143.pdb
bin/Obfuscator_x64.pdb
*.vsidx
.vs/Obfuscator/v17/.suo
